
.currency {
    color: black;
    max-height: 100vh;
    min-height: 78vh;
}

.currenсуBtn {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #51f137 inset, 0 0 0 0 #51f137;
    transition: 150ms ease-in-out;
}

.currenсуBtn:hover{
    box-shadow: 0 0 10px 0 #f137a6 inset, 0 0 10px 4px #3837f1;
    color: #37f179;
}

.currenсуBtnDisabled {
    padding: 10px;
    display: block;
    color: darkslateblue;
}

.currenсуWrap {
    display: flex;
}

.currencyOut {
    width: 78%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.currencyType {
    text-align: center;
    width: 20%;
    min-width: 150px;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin-left: 1%;
}

.currencyType .selected {
    font-weight: 700;
    font-size: 103%;
}

.exchange {
    margin: 10px 0 15px 30px;
}

.exchange span {
    margin-right: 10px; 
}

.exchange input {
    text-align: center;
}

/*  dark theme css >>>  */
.dark .currenсуBtn {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #f137a6 inset, 0 0 0 0 #f137a6;
    transition: 150ms ease-in-out;
}

.dark .currenсуBtn:hover{
    box-shadow: 0 0 10px 0 #f137a6 inset, 0 0 10px 4px #f137a6;
    color: #F137A6;
}

.dark .currenсуBtnDisabled {
  color: aliceblue;
}

.dark .currencyOut {
    border: 1px solid greenyellow;
}

.dark .currency {
    color: white;
}