* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  width: 95%;
  margin: 0px auto;
}


/*  dark theme css >>>  */
.dark {
  background-color: black;

  header {
    color: #D8E6F3;
  }

  td:first-child, .dark td {
    border-color: black;
    background-color: #ddE7;
    color: beige;
  }

  .about img {
    border: 3px solid burlywood;
  }

  h3 {
    color: aliceblue;
  }

  .about__workDescr p {
    color: beige;
    background-color: black;
  }

  footer p {
    color: beige;
  }

  td {
    border-color: black;
  }
}

/*  <<< dark theme css */

/* responsive >> */
@media (max-width: 767px){
  .about {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;

    &__tableDescr {
      margin-top: 10px;
    }
  }
}

/* << responsive */